<html>
  <body style="font-family: Arial; background:#f4f6f9; padding:20px;">
    
    <div style="background:white; padding:25px; border-radius:10px;">
      
      <h2 style="color:#2e86de;">Welcome to Pig Bank 🐷</h2>

      <p>Hello <b>{{fullName}}</b>,</p>

      <p>
        Your account has been successfully created.
      </p>

      <p>
        You can now start using Pig Bank services.
      </p>

      <hr>

      <p style="color:gray;font-size:12px;">
        Pig Bank Security System
      </p>

    </div>

  </body>
</html>